.title-banner {
  h2 {
    font-size: 80px;
  }
}

.logo-banner {
  width: 250px;
  min-width: 250px;
}

.container-banner {
  margin: 0 auto;
  max-width: calc(100% - 4em);
  width: 85em;
  padding-top: 10%;
}
