h3.title-section {
  color: #c9112b;
  text-align: center;
  font-size: 1.5em;
}

.especialized {
  margin-left: 0;
  padding: 3vh 6vw;
}

.especialized-container {
  margin-left: 0%;
  font-size: 30px;
  padding-left: 5vw;
  font-family: sans-serif;
  margin-top: 2vh;
  line-height: 42px;
}

.percent-section {
  font-size: 2.8em;
}

.img-left-section {
  max-width: 150px;
}

.container-especialized {
  margin-top: 0;
}

.wrapper-especilized-four {
  padding: 0vh 10vh;
  grid-gap: 60px;
}

.wrapper-especilized-four div span {
  color: #706563;
  font-size: 22px;
  font-weight: 500;
  font-family: sans-serif;
  padding: 0 50px;
  margin-top: 1vh;
}

.description-content {
  padding: 0 !important;
}

.container-grid-especialized {
  color: #da1c40;
  margin-top: 5vh;
}

.middle-description {
  color: #000 !important;
  font-weight: bold !important;
}
