#banner-porque-hollister {
  background-image: url("../images/05/DP05_fondo.png");
  background-position: center center;
  background-size: cover;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
  min-height: 100vh;
  position: relative;
}

.title-section {
  color: white;
}

.texto-nivel-avanzado {
  text-align: left;
}

.description {
  color: #fff;
}
