.col-1
  .col-2
  .col-3
  .col-4
  .col-5
  .col-6
  .col-7
  .col-8
  .col-9
  .col-10
  .col-11
  .col-11 {
  height: 100vh;
  padding: 0;
}

@media screen and (max-width: 1680px) {
  .row > * {
    padding: 0;
  }
  .row {
    margin-top: 0;
    margin-left: 0;
    width: 100%;
  }
}

.row {
  margin-top: 0;
  margin-left: 0;
  width: 100%;
}

.backfgraund-withe {
  background: #f7f5f3;
}

.line-title {
  border: 0;
  border-left: 1px solid #da1c40;
  height: 5vh;
  margin-left: 25%;
}

.container-basic-presencial {
  margin-left: 6%;
  padding: 2vh 8vw 4vh 3vw;
  color: #000000;

  .description-container {
    margin-top: 2vh;
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    line-height: 30px;

    span {
      font-weight: bold;
    }
  }

  .containewr-aforo {
    margin-top: 3vh;
    display: flex;
    vertical-align: middle;
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    line-height: 30px;

    .aforo-description {
      display: inline-block;
      margin-top: 2vh;
      position: relative;
      .count-aforo {
        position: absolute;
        bottom: 40px;
        width: 500px;
        span {
          font-weight: bold;
        }
      }
      .note-afoto {
        font-size: 20px;
        position: absolute;
        bottom: 0px;
        width: 500px;
      }
    }
  }
}

.line-title-unique {
  border: 0;
  border-left: 1px solid #da1c40;
  height: 5vh;
  margin-left: 16.5%;
}
.number-page-unique {
  margin-left: 15%;
  font-size: 45px;
  font-weight: bold;
  font-family: sans-serif;
  padding-top: 5px;
}
.title-basic-unique {
  margin-left: 8%;
  font-weight: 500;
  font-family: sans-serif;
  padding-top: 15px;
  font-size: 30px;
}

.main-basic {
  color: #da1c40;

  img {
    width: 200px;
    margin-left: 15vh;
  }
}
.basic-level {
  background: #ffffff;
  height: 95vh;
  color: #da1c40;
  display: flex;
}
.number-page {
  margin-left: 22.5%;
  font-size: 45px;
  font-weight: bold;
  font-family: sans-serif;
  padding-top: 5px;
}
.title-basic {
  margin-left: 17%;
  font-weight: 500;
  font-family: sans-serif;
  padding-top: 15px;
  font-size: 30px;
}

.online-becas {
  border: 1px solid #da1c40;
  margin-left: 6%;
  padding: 3rem 0 2rem 0;
  font-size: 42px;
  padding-left: 29px;
  font-family: sans-serif;
  display: flex;
  border-bottom: 0px;
  border-right: 0px;
  margin-top: 6vh;
  position: relative;
  span {
    font-weight: bold;
  }
  img {
    height: 94px;
    margin-top: -35px;
    margin-left: 11px;
  }
  div {
    padding-left: 15px;
  }
}

.square-facetoface {
  position: absolute;
  height: 100px;
  width: 29px;
  background-color: #da1c40;
  right: 27px;
  top: 2vh;
}

.square-becas {
  position: absolute;
  height: 100px;
  width: 20px;
  background-color: #da1c40;
  right: 0;
  top: -4vh;
  z-index: 1000;
}
.border-title-bottom {
  margin-left: 6%;
  border-top: 1px solid #da1c40;
  margin-right: 10vh;
}
.more-info {
  position: absolute;
  right: 8vh;
  bottom: -10px;
  font-family: sans-serif;
  background: #da1c40;
  color: #ffffff;
  padding: 0 10px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  z-index: 1000;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;

  padding: 50px 5vh 0 6%;
}
.one {
  grid-column: 1;
  grid-row: 1;
}
.two {
  grid-column: 2;
  grid-row: 1;
}
.three {
  grid-column: 3;
  grid-row: 1;
}
.four {
  grid-column: 4;
  grid-row: 1;
}
.five {
  grid-column: 5;
  grid-row: 1;
}

.hours-desciption-1 {
  grid-column: 1;
  grid-row: 2;
  height: auto !important;
  line-height: 1;
}
.hours-desciption-2 {
  grid-column: 2;
  grid-row: 2;
  height: auto !important;
  line-height: 1;
}
.hours-desciption-3 {
  grid-column: 3;
  grid-row: 2;
  height: auto !important;
  line-height: 1;
}
.hours-desciption-4 {
  grid-column: 4;
  grid-row: 2;
  height: auto !important;
  line-height: 1;
}
.hours-desciption-5 {
  grid-column: 5;
  grid-row: 2;
  height: auto !important;
  line-height: 1;
}
.hours-desciption-6 {
  grid-column: 1;
  grid-row: 4;
  height: auto !important;
  line-height: 1;
}
.hours-desciption-7 {
  grid-column: 2;
  grid-row: 4;
  height: auto !important;
  line-height: 1;
}
.hours-desciption-8 {
  grid-column: 3;
  grid-row: 4;
  height: auto !important;
  line-height: 1;
}
.hours-desciption-9 {
  grid-column: 4;
  grid-row: 4;
  height: auto !important;
  line-height: 1;
}
.hours-desciption-10 {
  grid-column: 5;
  grid-row: 4;
  height: auto !important;
  line-height: 1;
}

.six {
  grid-column: 1;
  grid-row: 3;
}

.title-card {
  font-size: 17px;
  font-family: sans-serif;
  font-weight: bold;
}

.description-card {
  font-size: 19px;
  color: #000000;
  font-family: sans-serif;
  font-weight: 400;
  text-align: left;
  line-height: 20px;
  padding: 0 13px 0 0;

  div {
    font-weight: 600;
  }
}

.hours-card {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 11px;
}

.container-img {
  img {
    margin-left: -20px;
    width: 85%;
    margin-top: 10vh;
    z-index: 1;
    opacity: 0.87;
  }
}
.container-img-basic {
  img {
    margin-left: -40px;
    width: 100%;
    margin-top: 14vh;
    z-index: 1;
  }
}

.online-especialized {
  border: 1px solid #da1c40;
  margin-left: 6%;
  padding: 6vh 6vw;
  font-size: 40px;
  padding-left: 29px;
  font-family: sans-serif;
  border-bottom: 0px;
  border-right: 0px;
  margin-top: 3vh;
  line-height: 45px;
  span {
    font-weight: bold;
  }

  div {
    padding-left: 15px;
  }
}

.container-especialized {
  display: flex;
  margin-top: 10vh;
  .col-8 {
    height: auto !important;
  }
}

.container-especialized-method {
  display: block;

  .col-8 {
    height: auto !important;
  }
}
.col-img {
  bottom: 10vh;
  left: -6vw;
  position: relative;
  img {
    position: absolute;
    bottom: -129px;
    width: 100%;
  }
}

.border-title-especilized {
  margin-left: 6%;
  border-top: 1px solid #da1c40;
  margin-right: 30vh;
  position: relative;
}

.view-video {
  position: absolute;
  font-family: sans-serif;
  right: -30%;
  margin-top: -25px;
  color: #ffffff;
  padding: 0 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  img {
    width: 10vw;
  }
}

.containers-cards {
  display: flex;
}

.container-imgs-especialized {
  margin-top: 5vh;
  padding: 1vh 0vw;
  margin: 5vh;

  div {
    width: 25%;
    img {
      width: 95%;
    }
  }
}

.especialized {
  margin-left: 6%;
  padding: 6vh 6vw;
  font-size: 30px;
  padding-left: 8vw;
  font-family: sans-serif;
  margin-top: 3vh;
  line-height: 45px;
  span {
    font-weight: bold;
  }
}

.container-imgs-especialized-02 {
  margin-top: 5vh;
  padding: 2vh 8vw;
  margin: 5vh;
  display: flex;
  color: #706563;

  div {
    display: flex;

    span {
      font-weight: bold;
      font-size: 40px;
    }
    div {
      display: block;
      width: 71%;
    }
  }

  img {
    width: 100px;
    height: 100px;
  }
}

.wrapper-especilized {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  padding: 5vh 10vh;

  div {
    display: flex;

    img {
      width: 140px;
    }
    span {
      -ms-transform: translateY(20%);
      transform: translateY(20%);
      color: #706563;
      font-size: 22px;
      font-weight: bolder;
    }
  }
}

.wrapper-especilized-four {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 5vh 10vh;

  div {
    display: inline-grid;
    align-items: center;
    text-align: center;

    img {
      margin: auto;
      width: 120px;
    }
    span {
      color: #706563;
      font-size: 22px;
      font-weight: 500;
      font-family: sans-serif;
      padding: 0 50px;
      margin-top: 1vh;
    }
  }
}

.container-grid-especialized {
  color: #da1c40;
  margin-top: 10vh;

  span.title-grid {
    margin-left: 2vw;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
  }
}

.container-grid-especialized-three {
  color: #da1c40;

  span.title-grid {
    margin-left: 2vw;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
  }
}
.img-section-especialized-objetives {
  width: 100%;
  padding-left: 2vw;
  margin-top: 4vh;
}

.container-title-method {
  text-align: center;
  margin-top: 6vh;
  font-size: 27px;
  font-family: sans-serif;
  font-weight: 800;
  line-height: 15px;
  letter-spacing: 1px;
}

.container-faculty {
  box-sizing: border-box;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  li.empty-card-faculity {
    background-color: #ffffff;
    list-style: none;
    margin: 5px 5px 1px 1px;
    text-align: center;
    width: 200px;
    padding: 5px;
    border: 1px solid #706563;
    display: block;

    div {
      background-color: #da1c40;
      height: 100%;
      text-align: left;

      div.title-name {
        color: #ffffff;
        font-size: 12px;
        text-align: left;
        line-height: 17px;
        padding-left: 16px;
        padding-right: 16px;
        width: auto;
        height: auto;
        font-weight: 700;
        padding-top: 14px;
        padding-bottom: 17px;
      }

      div.description-name {
        color: #ffffff;
        font-size: 12px;
        text-align: left;
        line-height: 17px;
        padding-left: 16px;
        padding-right: 16px;
        width: auto;
        height: auto;
      }
    }
  }
  li.non-empty {
    background: #ffffff;
    list-style: none;
    margin: 5px 5px 1px 1px;
    text-align: center;
    width: 200px;
    padding: 0 0 0 0;
    border: 1px solid #706563;
    display: block;

    div.container-img-faculty {
      display: block;
      img {
        width: 90%;
        margin-top: 8px;
      }
    }
    div.name-faculty {
      text-align: left;
      padding: 8px 10px 20px 9px;
      font-family: helvetica, sans-serif;
      font-size: 14px;
      color: #706563;
      font-weight: 700;
      letter-spacing: 0.7px;
    }
  }
}

.container-faculity {
  margin: 3vh;
}

.title-bibliograph {
  font-size: 35px;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
}

ol.bibliograph-list {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  margin-top: 3vh;
  color: #706563;
  line-height: 15px;
  font-weight: 400;
  padding: 1vh 5vw 0 0;
  li {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.fondo-slide {
  background-image: url("../images/18/fondo_18.png");
  height: 90vh;
  position: absolute;
  z-index: 0;
  width: 100%;
  background-color: white;
}
.icono-nivel {
  height: 130px;
  margin-left: 8vw;
}
.texto-nivel-avanzado {
  width: 60%;
  margin: 0 0 0 50px;
  text-align: center;
}
.columnas-una {
  display: flex;
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  // line-height: 25px;
}
.columnas-dos {
  width: 50%;
  margin: 10px;
}
.logo-salus,
.logo-salus img {
  // margin-bottom: 25px;
  height: 70px;
}
#banner-navanzadouno {
  background-image: url("../images/18/fondo_18.png");
  background-position: center center;
  background-size: cover;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
  min-height: 100vh;
  position: relative;
}
#banner-navanzadodos {
  background-image: url("../images/19/fondo.png");
  background-position: center center;
  background-size: cover;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
  min-height: 100vh;
  position: relative;
}
#banner-urologia {
  background-image: url("../images/20/fondo_urologia.png");
  background-position: center center;
  background-size: cover;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
  min-height: 93vh;
  position: relative;
}
#banner-psanitarios {
  background-image: url("../images/21/fondo.png");
  background-position: center center;
  background-size: cover;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
  min-height: 95vh;
  position: relative;
}
#banner-hsdigital {
  background-image: url("../images/22/fondo.png");
  background-position: center center;
  background-size: cover;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
  min-height: 95vh;
  position: relative;
}
#banner-teleconsulta {
  background-image: url("../images/23/fondo.png");
  background-position: center center;
  background-size: cover;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
  min-height: 95vh;
  position: relative;
}
#banner-ciberseguridad {
  background-image: url("../images/24/fondo.png");
  background-position: center center;
  background-size: cover;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
  min-height: 95vh;
  position: relative;
}
#banner-tcolaborativo {
  background-image: url("../images/25/fondo.jpg");
  background-position: center center;
  background-size: cover;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
  min-height: 95vh;
  position: relative;
}
#banner-finteractivos {
  background-image: url("../images/26/fondo.jpg");
  background-position: center center;
  background-size: cover;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
  min-height: 95vh;
  position: relative;
}
#banner-final {
  background-image: url("../images/27/fondo.png");
  background-position: center center;
  background-size: cover;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
  min-height: 95vh;
  position: relative;
}
.titulo {
  font-size: 20px;
  font-weight: 600;
  margin: 0px !important;
}
.columnas-dos label {
  line-height: 25px;
}
.descripcion {
  font-size: 13pt;
  line-height: 25px;
}
.btn-info {
  margin: 0 0 1.8em 0;
  width: 80px;
  border: 0px;
  background-color: white;
  color: #da1c40;
  font-size: 13pt;
  padding: 3px;
  font-weight: 700;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.desc-detalle {
  font-size: 11pt;
  color: white;
}
.subtitulo {
  font-weight: 700;
}
.footer-navigation {
  background: transparent !important;
}
.sep-vertical {
  border-right: 1px white solid;
  margin: 10px 0;
}
// .navbar-menu nav ul li {
//   border-left: #da1c40;
// }
.logo-hollister-edu {
  width: 50%;
  text-align: left;
  margin-top: 35vh;
}
.logo-hollister {
  width: 50%;
  text-align: right;
  margin-top: 40vh;
}
.texto-nivel-avanzado-dos {
  display: flex;
  width: 100vw;
  margin: auto;
  margin-top: 0%;
}
.texto-final {
  margin: auto;
  color: white;
  margin-top: 20px;
}

.texto-nivel-avanzado-tres {
  text-align: center;
}

.container-course-contetnt {
  box-sizing: border-box;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  li {
    background-color: #ffffff;
    list-style: none;
    margin: 10vh 5px 1px 1px;
    text-align: center;
    width: 210px;
    padding: 5px;

    img {
      width: 100%;
    }
  }
}

.container-documentation {
  margin-top: 15vh;
}
.documentation-title {
  color: #da1c40;
  font-size: 35px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  padding: 1vh 10vw;
}
.line-top-documentation {
  border-top: 1px solid #da1c40;
}
.line-left-documentation {
  height: 4vh;
  border-left: 1px solid #da1c40;
}
.container-text-documentation {
  border: 1px solid #da1c40;
  border-top: 0;
  width: 500px;
  padding: 4vh 0 4vh 4vw;
}
.container-list-pdfs {
  padding: 5vh 10vw;
  display: grid;

  div.pdf-title {
    margin: 1.5vh 0;
    display: flex;
    align-items: center;
    a {
      display: flex;
      text-decoration: none;
      div {
        margin-left: 2vw;
        font-size: 18px;
        font-family: Helvetica, sans-serif;
        font-weight: bolder;
        color: #706563;
      }
      img {
        width: 40px;
      }
    }
  }
}
.footer-pdfs {
  height: 7vh;
  background-color: #da1c40;
  margin: 0 6vw;
}

.container-collaborator {
  width: auto !important;
}

.line-top-collaborators {
  width: 90vw;
  border-bottom: 1px solid #706563;
  margin: 10vh 0 0 10vw;
  display: table-caption;
}

.line-left-collaborators {
  height: 4vh;
  border-left: 1px solid #706563;
  margin-left: 10vw;
}

div.container-collaborators {
  margin: 0 0 0 10vw;

  .container-collaborator {
    border: 1px solid #706563;
    border-top: 0;
    display: inline-grid;
    border-right: 0;

    div.img-collaborators {
      display: flex;
      padding: 1vh 7vw 0 3vw;
    }

    div.line-decorator-collaborators {
      height: 5vh;
      border-right: 1px solid #000000;
    }
  }
}
.container-collaborator-list {
  display: grid;
  text-align: center;
  width: 33%;
  align-items: center;

  span {
    margin-bottom: 4vh;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    color: #706563;
  }

  img {
    margin: auto;
  }
}

.title-container-collaborators {
  margin-top: 15vh;
  text-align: center;
  font-family: helvetica, sanf-serif;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 30px;
}
.content-header {
  display: inline-block;
  img {
    width: 100vw;
    height: fit-content;
  }
}

.contetnt-title-levels {
  position: absolute;
  color: #ffffff;
  top: 20vh;
  display: grid;
  padding-left: 3vw;
  font-size: 40px;
  font-weight: bold;
  line-height: 45px;
  font-family: sans-serif;
}

.container-header {
  height: fit-content;
}

.wrapper-levels {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;

  padding: 0px 5vh 0 6%;

  div {
    img {
      width: 200px;
      height: auto;
    }
  }
}

.content-title h3,
h2 {
  line-height: 40px;
}
.texto-gris {
  color: rgb(142, 133, 131) !important;
}
.avanzado-line {
  border: 1px solid #fff;
  padding: 6vh 6vw;
  font-size: 40px;
  font-family: sans-serif;
  border-right: 0px;
  margin-top: 3vh;
  line-height: 45px;
  border-bottom: 0px;
  width: 135%;
  color: white;
  font-weight: 600;
}
.icono-nivel-dos {
  height: 70px !important;
  position: absolute !important;
  right: 40% !important;
}
.con-borde {
  width: 30%;
  border-top: 1px Solid white;
}
.sin-borde {
  width: 50%;
  border: 0px;
}
.margen-cuadro-texto {
  margin-left: 10vw !important;
}
.btn-line {
  margin-top: -17px;
  margin-left: 38%;
  border: 0px;
}
.margen-col {
  margin: 0 150px;
}
.tit {
  margin-top: 30%;
  margin-left: 20%;
  font-size: xxx-large;
}
.sub {
  margin-left: 11%;
  font-weight: 600;
}
.sub-dos {
  margin-left: 11%;
  font-weight: 500;
  font-size: xx-large;
  margin-top: -30px;
}
.txt-adjust {
  width: 60% !important;
}
.listas {
  margin-left: 45%;
  margin-top: 25px;
  max-width: 550px;
}
.listas ul li {
  color: white;
}
.marg-left {
  margin-left: 40% !important;
  margin-top: 20px;
}
.seccion-foto-info {
  display: flex;
  margin-left: 35%;
  margin-top: -20px;
}
.foto-seccion-info {
  max-width: 40%;
}
.foto-seccion-info img {
  height: 150px;
}
.info-seccion-info {
  max-width: 60%;
  text-align: center;
  margin-left: 30px;
  background: white;
  width: 100%;
  color: black;
  margin-top: 40px !important;
  height: 60px;
}
.sub-line {
  font-size: 0.5em !important;
}
.columnas-dos ul {
  font-size: larger;
}
.no-border {
  border: 0px;
  line-height: unset;
}
.label-info,
.label-info strong {
  color: rgb(142, 133, 131) !important;
  margin: 0px !important;
}
.neg {
  font-weight: 600;
}
.margin-mtop {
  margin-top: -40px !important;
}
.ciber {
  margin-top: 5%;
  margin-left: -50px;
  color: #da1c40;
}
.info-seccion-info-lg {
  margin-left: 10%;
  margin-top: 40px;
  background: white;
  color: black;
  width: 45%;
  padding: 20px;
  height: 300px;
  font-size: initial;
}
.label-info-lg,
.label-info-lg strong {
  color: black !important;
  margin-top: 20px;
  font-size: larger;
}
.neg_tit {
  font-size: smaller !important;
  color: #da1c40 !important;
}
.divtitulos {
  margin-left: 13%;
  margin-top: -30px;
}
.titletit {
  font-size: xxx-large;
  margin-bottom: 10px;
}
.stitletit {
  font-size: xx-large;
}
.color-red-tema {
  color: #da1c40 !important;
}
.seccion-foto-info-lg {
  display: flex;
}
.ffoto {
  position: absolute;
  right: 34%;
  bottom: 11%;
}
