.col-8 {
  height: 100vh;
  padding: 0;
}

.backfgraund-withe {
  background: #f7f5f3;
}

.line-title {
  border: 0;
  border-left: 1px solid #da1c40;
  height: 10vh;
  margin-left: 22%;
}
.main-basic {
  color: #da1c40;
}
.basic-level {
  background: #ffffff;
  height: 100vh;
  color: #da1c40;
  display: flex;
}
.number-page {
  margin-left: 19.5%;
    font-size: 45px;
    font-weight: bold;
    font-family: sans-serif;
    padding-top: 5px;
}
.title-basic{
  margin-left: 14%;
  font-weight: 500;
  font-family: sans-serif;
  padding-top: 15px;
  font-size: 30px;
}

.online-becas {
  border: 1px solid #da1c40;
  margin-left: 6%;
  padding: 2rem 0 1rem 0;
  font-size: 40px;
  padding-left: 29px;
  font-family: sans-serif;
  display: flex;
  border-bottom: 0px;
  border-right: 0px;
  margin-top: 3vh;
  span {
    font-weight: bold;
  }

  div {
    padding-left: 15px;
  }
}
.border-title-bottom {
  margin-left: 6%;
  border-top: 1px solid #da1c40;
  margin-right: 10vh;
}
.more-info {
  position: absolute;
  font-family: sans-serif;
  right: 10vh;
  margin-top: -12px;
  background: #da1c40;
  color: #ffffff;
  padding: 0 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}
.wrapper {

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  
  padding: 50px 5vh 0 6%;

  
}
.one {
  grid-column: 1;
  grid-row: 1;
}
.two { 
  grid-column: 2;
  grid-row: 1;
}
.three {
  grid-column: 3;
  grid-row: 1;
}
.four {
  grid-column: 4;
  grid-row: 1;
}
.five {
  grid-column: 5;
  grid-row: 1;
}

.hours-desciption-1{
  grid-column: 1 ;
  grid-row: 2;
  height: auto !important;
}
.hours-desciption-2{
  grid-column: 2 ;
  grid-row: 2;
  height: auto !important;
}
.hours-desciption-3{
  grid-column: 3 ;
  grid-row: 2;
  height: auto !important;
}
.hours-desciption-4{
  grid-column: 4 ;
  grid-row: 2;
  height: auto !important;
}
.hours-desciption-5{
  grid-column: 5 ;
  grid-row: 2;
  height: auto !important;
}
.hours-desciption-6{
  grid-column: 1 ;
  grid-row: 4;
  height: auto !important;
}
.hours-desciption-7{
  grid-column: 2 ;
  grid-row: 4;
  height: auto !important;
}
.hours-desciption-8{
  grid-column: 3 ;
  grid-row: 4;
  height: auto !important;
}
.hours-desciption-9{
  grid-column: 4 ;
  grid-row: 4;
  height: auto !important;
}
.hours-desciption-10{
  grid-column: 5 ;
  grid-row: 4;
  height: auto !important;
}

.six {
  grid-column: 1;
  grid-row: 3;
}

.title-card {
font-size: 15px;
font-family: sans-serif;
font-weight: bold;
}

.description-card {
  font-size: 16px;
  color: #000000;
  font-family: sans-serif;
  font-weight: 400;
  text-align: left;
  line-height: 20px;
  padding: 0 13px 0 0;

  div {
    font-weight: 600;
  }
}

.hours-card{
  font-family: sans-serif;
  font-weight: 600;
  font-size: 11px;
}

.container-img {
  
  img {
    margin-left: -37px;
    opacity: 1;
    width: 100%;
    margin-top: 10vh;
    z-index: 1;
  }
}
